@font-face {
	font-family: 'Optima Cyr';
	src: url('fonts/OPTIMA_1.eot');
	src: local('☺'), url('fonts/OPTIMA_1.woff') format('woff'), url('fonts/OPTIMA_1.ttf') format('truetype'), url('fonts/OPTIMA_1.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Poiret+One&subset=cyrillic');